cycler==0.10.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==2.0.5
django-bootstrap3==10.0.1
django-bootstrap4==0.0.4
gunicorn==19.8.1
kiwisolver==1.0.1
matplotlib==2.2.0rc1
numpy==1.14.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2018.3
six==1.11.0
static3==0.7.0
psycopg2>=2.6.1
